body
{
    margin: 150px auto;
}

h1
{
    color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h3
{
    color: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p
{
    text-align: center;
}

div
{
    width: 50%;
    margin: 0 auto;
}

#first
{
    background-color: beige;
    border: 5px solid black;
    border-bottom-color: beige;
}

#second
{
    background-color: beige;
    border: 5px solid black;
    border-bottom-color: beige;
    border-top-color: beige;
}

#third
{
    background-color: beige;
    border: 5px solid black;
    border-top-color: beige;
}

.logo
{
    display: block;
    margin-left: auto;  
    margin-right: auto;
    width: 50%
}

img
{
    align-content: center;
}